%ul#navigation.slimmenu
  %li
    =link_to "HOME", '/'
  %li
    =link_to "ABOUT", '/pages/about'
  %li
    %a{:href => ""} THE CAUSES
  %li
    =link_to "VIDEOS", '/pages/about'
  %li
    %a{:href => ""} CONTACT

